---
import Stat from "@elements/Stat.astro";

const response = await fetch(new URL("/api/stats", Astro.url));
const data = await response.json();
---

<section class="flex flex-col items-center justify-center gap-8">
  <h2 class="text-center text-4xl font-bold">Stats</h2>
  <div class="flex flex-col place-self-center">
    <blockquote>
      <p>I love consoooooming (consuming)</p>
    </blockquote>
    <p class="pl-2 font-light">- Me, insert year here</p>
  </div>
  <div class="flex flex-col items-center justify-center gap-2">
    <div class="flex flex-wrap items-center justify-center gap-12">
      <Stat stat={data.simkl.movies.completedCount} text="Movies Watched" decimalPlaces={0} />
      <Stat stat={data.simkl.shows.completedCount} text="Series Watched" decimalPlaces={0} />
      <Stat stat={data.anilist.animeDaysWatched} text="Watching weeb trash" suffix=" days" decimalPlaces={1} />
    </div>
    <div class="mt-8 flex flex-wrap items-center justify-center gap-12">
      <Stat stat={data.steam.gamingHours} text="Playing games on Steam" suffix=" hours" decimalPlaces={0} />
      <Stat stat={data.osu.playTime} text="Clicking circles in osu!" suffix=" hours" decimalPlaces={0} />
      <Stat stat={data.wakatime.programmingHours} text="Programming" suffix=" hours" decimalPlaces={0} />
    </div>
  </div>
  <div>
    <p class="text-center font-light italic">
      This is only what I've been able to track.
      <br />
      Take it with a grain of salt.
    </p>
  </div>
</section>

<script type="module" src="https://cdn.jsdelivr.net/gh/lekoala/formidable-elements@master/dist/count-up.min.js"
></script>
