---
import SongImage from "@elements/SongImage.astro";

const { track } = Astro.props;
---

<article class="liked-song flex flex-col gap-2">
  <div class="flex items-center gap-4">
    <SongImage artist={track.artist.name} track={track.name} />
    <div class="overflow-hidden">
      <p class="truncate font-bold" title={track.name}>{track.name}</p>
      <p class="truncate font-light" title={track.artist.name}>{track.artist.name}</p>
    </div>
  </div>
</article>
