---
import "@styles/blogpost.css";

import type { CollectionEntry } from "astro:content";

import BlogTag from "@elements/BlogTag.astro";
import FormattedDate from "@elements/FormattedDate.astro";
import DefaultPage from "./DefaultPage.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, tags } = Astro.props;
---

<DefaultPage title={title} description={description}>
  <main>
    <article>
      <div class="prose">
        <div class="title">
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1>{title}</h1>
          <p class="description">{description}</p>
          <hr />
        </div>
        <slot />
        {
          tags && (
            <div class="mt-12 flex flex-wrap gap-4">
              {tags.map((tag) => (
                <BlogTag tag={tag} />
              ))}
            </div>
          )
        }
      </div>
    </article>
  </main>
</DefaultPage>
